<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.1.2/css/tempusdominus-bootstrap-4.min.css" integrity="sha256-XPTBwC3SBoWHSmKasAk01c08M6sIA5gF5+sRxqak2Qs=" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.1.2/js/tempusdominus-bootstrap-4.min.js" integrity="sha256-z0oKYg6xiLq3yJGsp/LsY9XykbweQlHl42jHv2XTBz4=" crossorigin="anonymous"></script>
    <title>Signup</title>
  </head>
  <body>
  
  {%for items in ab%}
    <form method="post" action='updated/' enctype="multipart/form-data"  >{% csrf_token %}
    <div class="row">
        <label for="exampleInputEmail1" class="form-label">First Name</label>
        <input type="text" class="form-control" id="fname" name="fname"  aria-describedby="emailHelp">{{items.person_firstname}}</input>
        <label for="exampleInputEmail1" class="form-label">Last Name</label>
        <input type="text" class="form-control" id="lname" name="lname"  aria-describedby="emailHelp">{{items.person_lastname}}</input>
    </div>
    <div  width="200" height="200">
      <img src="{{items.person_img.url}}" alt="image" width="200" height="200">
      <div class="mb-3">
      <label for="" class="form-label">Image</label>
        <input type="file" Required name="image" class="form-control">
    </div>
    </div>   

  <div class="mb-3">
    
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp">{{items.person_email}}</input>
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" id="password" name="password" >{{items.person_password}}</input>
  </div>
  <div id="gender1" class="form-text">Your Gender?.</div>
  <div class="btn-group" role="group" id="gender" aria-label="Basic radio toggle button group">
  <input type="radio" class="btn-check" name="btnradio" id="btnradio1" value="Male" autocomplete="off" checked>
  <label class="btn btn-outline-primary" data-content="Male" for="btnradio1">Male</label>

  <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
  <label class="btn btn-outline-primary" for="btnradio2" value="female" data-content="Female">Female</label>

  <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
  <label class="btn btn-outline-primary" for="btnradio3" value="other" data-content="other">Other</label>
</div>
  <div id="dob" class="form-text">Date of birth?.</div>
  <div class="mb-3">
    <input type="date" class="form-control" id="dob" name="dob">{{items.person_dob}}</input>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{%endfor%}
  </body>
 
</html>